.body{
    margin: 0;
}
.skip{
    color: orange;
}
.half-width h1{
    font-size: 50px;
    line-height: 0.35;
    font-stretch: extra-expanded;
}
.half-width p{
    line-height: 1.9;
    color: gray;
}
.margine{
    margin-top: 100px;
}

.link-button{
   background-image: linear-gradient(tomato, orange);
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    font-weight: 70;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 10px tomato;
    border-top: 0px;
}
.section-class {
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin: 50px 100px;
    color: rgb(68, 66, 66);
}
.img-item{
    width: 100%;
}
.half-width{
    width: 40%;
    padding: 5%;
    
}
.image-container{
    display: flex;
    justify-content: center;
}
.mid-image img{
    width: 55%;
    margin-left: 50px;
}

.section-background{
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
}
.recipies{
    justify-content: center;
    text-align: center;
    
}
.recipies-text{
    width: 50%;
    margin:0 auto;
}
.recipie-title{
    display: flex;

}
.recipie-title img{
    width: 100%;
}
.recipie-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 30px;
    padding: 30px;
}
.youtube{
    display: flex;
    justify-content: center;
    margin-top: 5cm;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 100px;
    

}
.youtube h1{
    font-size: 50px;
}
.youtube div{
    margin-left: 10%;
    margin-right: 10%;
}
.eat{
    justify-content: center;
    background-color: black;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}